.grid {
    border: 1px solid black;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.ending_block {
    background-color: red;
}

.starting_block {
    background-color: blue;
}

.car_left,
.car_right {
    background-color: lightgray;
}

.frog {
    background-color: green;
}

.l1,
.l2,
.l3 {
    background-color: brown;
}

.l4,
.l5{
    background-color: lightblue;
}
.c1{
    background-color: black;
}
.c2,
.c3 {
    background-color: lightgray;
}